<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
    <link rel="icon" href="/images/favicon.png" type="image/png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="../public/style.css" />
  </head>

  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <p class="title">URL Shortener MicroService</p>
        <p class="subtitle">Enter a URL to get a shortened link!</p>
      </div>
    </section>
    <main>
      <section class="section is-small">
        <div class="container is-offset-3 has-text-centered">
          <div class="columns">
            <div class="column is-6">
              <div class="card">
                <header class="card-header">
                  <p class="card-header-title">
                    Please enter a URL to get started!
                  </p>
                </header>
                <form action="api/shorturl" method="POST">
                  <fieldset>
                    <label class="label" for="url_input">URL:</label>
                    <div class="column is-10 is-offset-1">
                      <input
                        class="input is-rounded is-medium"
                        id="url_input"
                        type="text"
                        name="url"
                        placeholder="https://google.com"
                      />
                    </div>

                    <button
                      class="button is-link is-light"
                      type="submit"
                      value="POST URL"
                    >
                      POST URL
                    </button>
                  </fieldset>
                </form>
              </div>
            </div>
            <div class="column is-6">
              <div class="card">
                <header class="card-header">
                  <p class="card-header-title">How to use the Microservice:</p>
                </header>
                <div class="card-content">
                  Enter a URL in the input field above and the service will give
                  you a JSON object that has a "short_url" field. Add the value
                  of that field to the end of this domain and it will redirect
                  you to your original URL!
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container is-offset-3 has-text-centered">
          <div class="columns">
            <div class="column is-6 has-text-centered">
              <div class="card">
                <header class="card-header">
                  <p class="card-header-title">Example Usage:</p>
                </header>
                <div class="card-content">
                  <a
                    href="https://ancient-ocean-01763.herokuapp.com/api/shorturl/1"
                    >ancient-ocean-01763.herokuapp.com/api/shorturl/1</a
                  >
                  <p>will redirect to:</p>
                  <p>google.com</p>
                </div>
              </div>
            </div>

            <div class="column is-6">
              <div class="card">
                <header class="card-header">
                  <p class="card-header-title">Sample Request(Python):</p>
                </header>
                <div class="card-content">
                  <p><code>import requests</code></p>
                  <p>
                    <code>
                      url =
                      "https://ancient-ocean-01763.herokuapp.com/api/shorturl"</code
                    >
                  </p>
                  <p><code>payload="{\"url\":\"https://google.com\"}"</code></p>
                  <p>
                    <code
                      >headers = { 'Content-Type': 'application/json' }</code
                    >
                  </p>
                  <p>
                    <code
                      >response = requests.request("POST", url, headers=headers,
                      data=payload)</code
                    >
                  </p>

                  <p><code> print(response.text)</code></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="content has-text-centered">Abdu Abdelgany 2021</div>
    </footer>
  </body>
</html>
